nav{
    position: absolute;
    float: left;
    top: 0px;
    left: 30px;
    right:  0px;
    background-color: #EDEDED;
}

.top-bar {
    height: 35px;
    border-top: 1px solid #FFF;
}

.brand {
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #666;
    text-align: center;
    padding: 5px 10px;
}

.sub-menu {
    float: left;
    padding-right: 5px;
    margin: 7px 0 0 5px;
}

.action-btn {
    width: 28px;
    color: #666;
    padding: 5px 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.action-btn:hover {
    border: 1px solid #BFBFBF;
    color: #666;
    text-decoration: none;
    z-index: 1200;
    cursor: default;
}

.action-btn:active {
    background-color: #FFF;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.separator{
    margin: 0 5px 0 5px;
    color: #BFBFBF;
}

.drag-over{
    background-color: #FEFCC3;
    border: 1px dotted #000;
}
